/* Fonts */
@font-face {
    font-family: 'InterDisplay';
    src: url('fonts/InterDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: 'InterDisplay', sans-serif;
}

/* Container*/
.container {
    padding: 24px;
}